/* Contenedor principal */
.content-mbook {
  padding: 10px;
  background-color: #f7f9fc;
  font-family: 'Kumbh Sans', sans-serif;
  color: #333;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.sidebarlibros{
  padding-right: 100px;
  padding-left: 30px;
}

/* Estilo de la barra de búsqueda */
.search {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.input-search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #0a92dd;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #fff;
}

.logo-search {
  font-size: 1.5rem;
  color: #0a92dd;
}

.input-buscar {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

.input-buscar::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Tabla */
.tabla-mbook table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-table-mbook th {
  background-color: #0a92dd;
  color: #fff;
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.header-table-mbook th.asc::after,
.header-table-mbook th.desc::after {
  content: '';
  position: absolute;
  right: 10px;
  border: 5px solid transparent;
}

.header-table-mbook th.asc::after {
  border-bottom: 5px solid #fff;
}

.header-table-mbook th.desc::after {
  border-top: 5px solid #fff;
}

.table-row {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px;
  font-size: 0.9rem;
}

.table-row:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.table-row td {
  padding: 10px;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  font-size: 0.9rem;
  color: #555;
}

.controls {
  display: flex;
  gap: 5px;
}

.button-pagination {
  border: none;
  background-color: #fff;
  color: #0a92dd;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-pagination:hover {
  background-color: #0a92dd;
  color: #fff;
}

.select-pagination {
  border: 1px solid #0a92dd;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
  color: #0a92dd;
  background-color: #fff;
  cursor: pointer;
}

/* Indicador de Carga */
.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0a92dd;
  margin: 20px 0;
}

/* Fila con acciones */
.action-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.action-icons svg {
  cursor: pointer;
  font-size: 1.2rem;
  color: #0a92dd;
  transition: color 0.3s ease;
}

.action-icons svg:hover {
  color: #0070c0;
}
