body, html {
    height: 100%; /* Hacer que el contenedor principal ocupe el 100% de la altura */
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 239, 255);
}

.login-content {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: black;
    max-width: 400px; /* Limita el ancho total del formulario */
    margin-right: 60px;
}

.titulo {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 40px;
}


.grupo-login {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre cada grupo de label e input */
}

.label-login, .control-login {
    width: 100%; /* Para que ambos tengan el mismo ancho */
    color: black;
}

.control-login {
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
}


.button-submit {
    margin-top: 20px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #656ED3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.button-submit:hover {
    background-color: #545ba3;
}

.register-link {
    color: blue;         /* Color azul para simular un enlace */
    font-weight: bold;   /* Negrita para destacar */
    text-decoration: underline; /* Subrayado para parecer un enlace */
    cursor: pointer;     /* Cambia el cursor a una mano para indicar que es clickeable */
}

.register-link:hover {
    color: darkblue;     /* Cambia de color al pasar el cursor */
}

.rectangule-login {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imgLogin1 {
    width: 220px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    position: absolute; /* Posiciona de manera absoluta dentro de su contenedor */
    bottom: 0;
    left: 0;
    z-index: 1; /* Asegura que RLogin2 esté encima de RLogin1 */
    margin-bottom: 10px;
    margin-left: 10px;
}

.imgLogin2 {
    width: 225px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    position: absolute; /* Posiciona de manera absoluta dentro de su contenedor */
    bottom: 10px; /* El espacio entre las dos imágenes */
    left: 0;
    margin-left: 10px;
}
